version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: clothing_backend
    working_dir: /app
    command: uvicorn main:app --host 0.0.0.0 --port 8000

    environment:
      REDIS_URL: ${REDIS_URL_DOCKER}

    volumes:
      - ./backend:/app

    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: clothing_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:latest
    container_name: redis_clothing
    environment:
      REDIS_URL: ${REDIS_URL_DOCKER}
    ports:
      - "6379:6379"
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host


volumes:
  mongo_data:
  redis_data: